﻿@inherits LayoutComponentBase

<NavMenu />

<div class="container-fluid">

    <RadzenDialog />
    <!-- Per iscriversi al componente per visualizzare delle notifiche a scomparsa https://blazor.radzen.com/notification -->
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />

    <div class="content px-4">
        @Body
    </div>

    <div class="content px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

</div>