﻿<nav class="navbar navbar-expand-sm">


    <a class="navbar-brand" href="">
        <img src="/css/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" />
    </a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>




    <NavUser />




    <RadzenMenu>

        <AuthorizeView>
            <NotAuthorized>
                <RadzenMenuItemGeneral />
            </NotAuthorized>




            <Authorized>
                <RadzenMenuItemGeneral />
                @{
                    string claimModules = context.User.Claims.First(claim => claim.Type.Equals("module")).Value;
                    string claimPrivileges = context.User.Claims.First(claim => claim.Type.Equals(ClaimsIdentity.DefaultRoleClaimType)).Value;

                    if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN)
                     || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR)
                     || claimModules.Contains(UserModulesAccess.TRELLO))
                    {
                        <RadzenMenuItem Text="Trello" Icon="payment">
                            @if (claimModules.Contains(TrelloModuleAccess.VIEW_TUTTE_LE_LISTE))
                            {
                                <RadzenMenuItem Text="Tutte le Liste" Path="All_List_View" Icon="list" />
                            }
                            @if (claimModules.Contains(TrelloModuleAccess.VIEW_SCHEDE_PER_LISTA))
                            {
                                <RadzenMenuItem Text="Schede per Lista" Path="Cards_Per_List_View" Icon="list" />
                            }
                            <!--<RadzenMenuItem Text="TextBox" Path="textbox" Icon="input"></RadzenMenuItem>
                            <RadzenMenuItem Text="TextArea" Path="textarea" Icon="description"></RadzenMenuItem>
                            <RadzenMenuItem Text="Password" Path="password" Icon="payment"></RadzenMenuItem>
                            <RadzenMenuItem Text="Numeric" Path="numeric" Icon="aspect_ratio"></RadzenMenuItem>
                            <RadzenMenuItem Text="DatePicker" Path="datepicker" Icon="date_range"></RadzenMenuItem>-->
                        </RadzenMenuItem>
                    }

                    @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN))
                    {
                        <RadzenMenuItem Text="Altro" Icon="more_vert">
                            <RadzenMenuItem Text="Settings" Path="Settings_View" Icon="settings" />
                        </RadzenMenuItem>
                    }
                }
            </Authorized>




            <!--<RadzenMenuItem Text="Data" Icon="save">

                <RadzenMenuItem Text="DataGrid" Path="datagrid" Icon="grid_on"></RadzenMenuItem>
                <RadzenMenuItem Text="DataList" Path="datalist" Icon="list"></RadzenMenuItem>
                <RadzenMenuItem Text="DropDown" Path="dropdown" Icon="dns"></RadzenMenuItem>
                <RadzenMenuItem Text="DropDownDataGrid" Path="dropdown-datagrid" Icon="receipt"></RadzenMenuItem>
                <RadzenMenuItem Text="ListBox" Path="listbox" Icon="view_list"></RadzenMenuItem>
                <RadzenMenuItem Text="TemplateForm" Path="templateform" Icon="line_style"></RadzenMenuItem>

            </RadzenMenuItem>-->
            <!--<RadzenMenuItem Text="Containers" Icon="account_box">

                <RadzenMenuItem Text="Tabs" Path="tabs" Icon="tab"></RadzenMenuItem>
                <RadzenMenuItem Text="Panel" Path="panel" Icon="content_paste"></RadzenMenuItem>
                <RadzenMenuItem Text="Fieldset" Path="fieldset" Icon="account_balance_wallet"></RadzenMenuItem>
                <RadzenMenuItem Text="Card" Path="card" Icon="line_style"></RadzenMenuItem>

            </RadzenMenuItem>-->
            <!--<RadzenMenuItem Text="More">

                <RadzenMenuItem Text="Item1"></RadzenMenuItem>
                <RadzenMenuItem Text="Item2"></RadzenMenuItem>
                <RadzenMenuItem Text="More items">

                    <RadzenMenuItem Text="More sub items">

                        <RadzenMenuItem Text="Item1"></RadzenMenuItem>
                        <RadzenMenuItem Text="Item2"></RadzenMenuItem>

                    </RadzenMenuItem>

                </RadzenMenuItem>
            </RadzenMenuItem>-->

        </AuthorizeView>
    </RadzenMenu>



</nav>

















<!--
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">




        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>




        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>




        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>




        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-plus" aria-hidden="true"></span> Trello
            </NavLink>
@if (expandSubNav)
{
                <NavLink class="expand-menu text-right mt-2 mb-2" href="SignUp">
                    <span class="oi oi-account-login text-right" aria-hidden="true">SingIn</span>
                </NavLink>
                <NavLink class="expand-menu mt-2 mb-2" href="SignIn">
                    <span class="oi oi-account-login" aria-hidden="true"> SignUp</span>
                </NavLink>
                <NavLink class="expand-menu mt-2 mb-2" href="List_View">
                    <span class="oi oi-list" aria-hidden="true"> List</span>
                </NavLink>
}
        </li>
-->
<!--
<li class="nav-item px-3">
    <NavLink class="nav-link" href="signup">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Trello SignUp
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="signin">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Trello SingIn
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="list_view">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Trello List
    </NavLink>
</li>
-->
<!--
    </ul>
</div>
-->
@code
{
    //private bool expandSubNav;

    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
