﻿<RadzenProfileMenu>
    <Template>
        <AuthorizeView>
            <Authorized>
                <label id="username">Ciao, @context.User.Claims.First(claim => claim.Type.Equals(ClaimTypes.Name)).Value</label>
            </Authorized>
            <NotAuthorized>
                <img src="/css/img/user-solid.png" width="25" height="25" />
                <label>Non sei loggato!</label>
            </NotAuthorized>
        </AuthorizeView>
    </Template>
    <ChildContent>
        <AuthorizeView>
            <Authorized>
                <RadzenProfileMenuItem Text="Profilo" Path="TODO" Icon="account_circle"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="SignOut" Path="cookie/SignOut" Icon="exit_to_app"></RadzenProfileMenuItem>
            </Authorized>
            <NotAuthorized>
                <RadzenProfileMenuItem Text="SignUp" Path="SignUpView" Icon="app_registration"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="SignIn" Path="SignInView" Icon="login"></RadzenProfileMenuItem>
            </NotAuthorized>
        </AuthorizeView>


        <!--
        <RadzenProfileMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenProfileMenuItem>
        <RadzenProfileMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenProfileMenuItem>
        <RadzenProfileMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenProfileMenuItem>
        -->
    </ChildContent>
</RadzenProfileMenu>


@code {
}
