﻿<RadzenMenuItem Text="General" Icon="home">

    <RadzenMenuItem Text="Home" Path="" Icon="line_weight" />
    <!--<RadzenMenuItem Text="SignUp" Path="SignUp" Icon="account_circle"></RadzenMenuItem>
    <RadzenMenuItem Text="Menu" Path="List_View" Icon="line_weight"></RadzenMenuItem>
    <RadzenMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenMenuItem>
    <RadzenMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenMenuItem>
    <RadzenMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenMenuItem>-->

</RadzenMenuItem>

@code {

}