﻿@page "/my_example_page"

@using Portale_Trello.Services.Trello
@using Portale_Trello.Models

@inject TrelloContext trelloContext
@inject HttpClient httpClient

<h1>Liste di Trello</h1>
<p>Questo componente dimostra il caricamento di dati da un servizio.</p>


@if (list == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>ID</th>
                <th>Board ID</th>
                <th>Seguendo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in list)
            {
                <tr>
                    <td>@l.name</td>
                    <td>@l.id</td>
                    <td>@l.idBoard</td>
                    <td>@l.subscribed</td>
                </tr>
            }
        </tbody>
    </table>
}


@code 
{
    private Portale_Trello.Models.Trello.List[] list;
    protected override async Task OnInitializedAsync()
    {
        list = await trelloContext.GetList("", "");
    }
}