﻿@page "/Settings_View"


@using Portale_Trello.Services.Trello
@using Portale_Trello.Models.Trello
@using Portale_Trello.Models.Radzen 
@inject TrelloContext trelloContext
@inject NotificationService notificationService


<h3>SettingsView</h3>

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-6">
                        <h4>Button with text</h4>
                        <RadzenButton Click=@(args => Niente()) Text="Button" Style="margin-bottom: 20px; width: 150px" />
                    </div>
                    <div class="col-xl-6">
                        <h4>Button with text and icon</h4>
                        <RadzenButton Click=@(e => SynchronizeAll(context.User.Claims)) Text="Sync.Trello" Icon="autorenew" Style="margin-bottom: 20px; width: 150px" />
                    </div>
                </div>
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>


@code
{
    private void Niente()
    {
        //niente
    }



    public void SynchronizeAll(IEnumerable<Claim> claims)
    {
        RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Warning, "Sincronizzazione Iniziata", "");
        string api_key = claims.First(claim => claim.Type.Equals(User.API_KEY)).Value;
        string api_token = claims.First(claim => claim.Type.Equals(User.API_TOKEN)).Value;
        //TrelloContext.lists = (await trelloContext.GetLists(api_key, api_token)).ToList<List>();
        //TrelloContext.labels = (await trelloContext.GetLabels(api_key, api_token)).ToList<Label>();
        RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Success, "Sincronizzazione Completata", "");
        ILogger logger = Logger.Singleton();
        logger.Log("Richiesta API Trello per sincronizzare tutto il contesto completata");
    }
}
