﻿@page "/SignInView"
@page "/SignInView/{result}"


@using Portale_Trello.Models.Radzen
@using Portale_Trello.Models.Trello
@inject TrelloContext trelloContext
@inject NavigationManager navManager
@inject NotificationService notificationService


<h1>Login Portale Trello</h1>
<p>Questo componente permette il login.</p>
<AuthorizeView>
    <Authorized>
        <p>Ciao @context.User.Claims.First(claim => claim.Type.Equals(ClaimTypes.Name)).Value</p>
        @{ SignResultNotification(); }
    </Authorized>
    <NotAuthorized>
        <p>Non sei loggato!</p>
        @{ SignResultNotification(); }

        <RadzenFieldset Style="width:30%; height:30%; margin:auto;" Text="SignIn">
            <div class="container">
                <form action="cookie/SignIn" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:100px;" id="inputGroup-sizing-default">Username</span>
                        </div>
                        <input type="text" class="form-control" name="username" minlength="3" maxlength="20" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:100px;" id="inputGroup-sizing-default">Password</span>
                        </div>
                        <input type="password" class="form-control" name="password" minlength="8" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>


                    <div class="text-center">
                        <input type="submit" class="btn btn-primary mr-3" value="SignIn" />
                        <input type="button" class="btn btn-outline-primary" @onclick=@NavigateToSignUpPage value="SignUp" />
                    </div>
                </form>
            </div>
        </RadzenFieldset>
    </NotAuthorized>
</AuthorizeView>




@code
{
    [Parameter]
    public string result { get; set; }
    ILogger logger = Logger.Singleton();

    public void NavigateToSignUpPage()
    {
        logger.LogVerbose("Utente naviga dalla pagina di SignIn alla pagina per SignUp");
        navManager.NavigateTo("/SignUpView");
    }




    /*
    Notifica nel caso di successo, insuccesso o SingOut
    */
    public void SignResultNotification()
    {
        if (result == "true")
        {
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Success, "SignIn Successo", "SignIn completato con successo!");
        }
        else if (result == "false")
        {
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Error, "SignIn Fallito", "Combinazione Username o Password non corretta!");
        }
        else if (result == "SignOut")
        {
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Warning, "SignOut Completato", "");
        }
    }
}
