﻿@page "/SignUpView"


@using Portale_Trello.Models.Etc
@using Portale_Trello.Models.Radzen
@using System.Text.Json

@inject NavigationManager navigationManager
@inject NotificationService notificationService

<h1>SingUp Portale Trello</h1>
<p>Crea un nuovo account per Portale Trello.</p>


<div class="container">
    
    <RadzenTemplateForm Style="width:50%; height:50%; margin:auto;" TItem="User" Data=@user Submit=@OnSubmitAsync InvalidSubmit=@OnInvalidSubmit>

        <RadzenFieldset Text="Username">
            <div class="row" style="margin-bottom: 34px">
                <div class="col w-25">
                    <RadzenLabel Text="Username: " />

                    <RadzenTextBox Style="display: block" Name="FirstName" @bind-Value=@user.username />
                    <RadzenLengthValidator Component="FirstName" Min=@userMinLenght Text="L'Username deve avere almeno 3 caratteri" Style="display: block" />
                    <RadzenLengthValidator Component="FirstName" Max=@userMaxLenght Text="L'Username non deve avere più di 20 caratteri" Style="display: block" />
                    <small style="display: block; margin-top: 1px">(3-20 lettere)</small>
                </div>
            </div>
        </RadzenFieldset>


        <RadzenFieldset Text="Password">
            <div class="row" style="margin-bottom: 16px">
                <div class="col w-25">
                    <RadzenLabel Text="Password: " />

                    <RadzenPassword style="display: block" Name="Password" @bind-Value=@user.password />
                    <RadzenLengthValidator Component="Password" Min=@passwordMinLenght Text="La passoword deve avere almeno 8 caratteri" Style="display: block" />
                    <RadzenRequiredValidator Component="Password" Text="Inserisci la password" Style="display: block" />
                    <small style="display: block; margin-top: 1px">(8 lettere min.)</small>
                </div>
            </div>
            <div class="row" style="margin-bottom: 34px">
                <div class="col w-25">
                    <RadzenLabel Text="Ripeti Password:" />

                    <RadzenPassword style="display: block" Name="RepeatPassword" @bind-Value=@user.passwordRepeated />
                    <RadzenRequiredValidator Component="RepeatPassword" Text="Ripeti la tua password" Style="position: absolute" />
                    <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(user.passwordRepeated)) Value=@user.password Component="RepeatPassword" Text="Le passwords devono essere uguali!" Style="position: absolute" />
                </div>
            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
        </RadzenFieldset>
    </RadzenTemplateForm>
</div>




@code 
{
    int userMinLenght = 3;
    int userMaxLenght = 20;
    int passwordMinLenght = 8;
    IResourceAccessor resourceAccessor = ResourceAccessorDatabase.Singleton();
    ILogger logger = Logger.Singleton();
    User user = new User();




    private async void OnSubmitAsync(User user)
    {
        logger.LogVerbose("Tentativo di Singup per nuovo user: " + JsonSerializer.Serialize<User>(user));
        List<User> users = await resourceAccessor.GetUsersAsync();
        if (users.Contains(user))
        {
            logger.Log("Singup nuovo user fallita, nickname già presente!");
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Error, "Errore Username non disponibile!", "L'username non è disponibile, già in uso!");
        }
        else
        {
            bool success = false;
            try
            {
                success = await resourceAccessor.SingUpUser(user);
            }
            catch (Exception e)
            {
                throw e;
            }
            finally
            {
                logger.Log(success ? "Singup per nuovo user completato con successo." : "Singup per nuovo user fallito!");
                RadzenSupport.SendNotificationMessage
                (
                    notificationService,
                    success ? NotificationSeverity.Success : NotificationSeverity.Error,
                    success ? "Singup completato." : "Singup fallito!",
                    success ? "Singup per nuovo user completato con successo." : "Singup per nuovo user fallito!"
                );
                if (success) { navigationManager.NavigateTo("/"); }
            }
        }
    }




    /// <summary>
    /// Fa comparire delle notifiche non invadenti che spariscono automaticamente
    /// dopo un certo perido di tempo.
    /// </summary>
    /// <param name="errorMessage"></param>
    private void OnInvalidSubmit(FormInvalidSubmitEventArgs errorMessage)
    {
        if (user.username.Length < userMinLenght)
        {
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Error, "Errore Username!", "L'Username deve avere almeno 3 caratteri!");
            logger.LogVerbose("Errore Username, deve avere almeno 3 caratteri!");
        }
        else if (user.username.Length > userMaxLenght)
        {
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Error, "Errore Username!", "L'Username non deve avere più di 20 caratteri");
            logger.LogVerbose("Errore Username, non deve avere più di 20 caratteri");
        }
        else if (user.password.Length < passwordMinLenght)
        {
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Error, "Errore Password!", "La password deve avere almeno 8 caratteri");
            logger.LogVerbose("Errore Password deve avere almeno 8 caratteri");
        }
        else
        {
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Error, "Errore Password!", "Le passwords devono essere uguali!");
            logger.LogVerbose("Errore Password devono essere uguali!");
        }

        logger.LogError("Username non rispetta le lunghezza min, max oppure Password non rispettano la lunghezza minima o non coincidono");
    }




    private void OnChange(string args, string msg)
    {
        user.username = args;
    }
}