﻿@page "/"
@namespace Portale_Trello.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portale Trello</title>
    <base href="~/" />
    <!-- Stile CSS del framework Blazor integrato -->
    <link rel="stylesheet" href="css/site.css" />
    <!-- Stile CSS Bootstrap integrato in Blazor -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <!-- Stile CSS del framework Radzen -->
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css" />
    <!-- Stile CSS Personalizzato -->
    <link rel="stylesheet" href="css/personalizzato.css" />
    <link href="Portale Trello.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!-- Script JS per i componenti del Framework Blazor condivisi e Boostrap -->
    <script src="_framework/blazor.server.js"></script>
    <!-- Script JS per i componenti di Radzen-->
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>
</html>
