﻿@using System.Threading
@using Microsoft.AspNetCore.SignalR.Client
@using Portale_Trello.Pages.Trello
@using Portale_Trello.Models.Trello
@using Portale_Trello.Models.Hubs

@inject NotificationService notificationService
@inject TrelloContext trelloContext
@inject DialogService dialogService


<AuthorizeView>
    <Authorized>
        @{
            string icon = card.dueComplete ? "check_circle" : "cancel";
            string bg_color = card.dueComplete ? "bg-color-green" : "bg-color-red";
            bool state = card.due.Equals("Non presente") ? true : false;//true = disabilitato
            string tooltipMsg = state ? "Impossibile cambiare lo stato senza una scadenza!" : "Clicca per cambiare lo stato della scadenza";
            bg_color = card.due.Equals("Non presente") ? "bg-color-gray" : bg_color;
        }
        <div class="row mt-3 align-items-baseline text-align-center">
            <div class="col-md-12">
                <div class="d-inline-block tooltip-simple">
                    <button class="badge-circle @bg_color color-white valign-middle font-smaller" style="margin: 0px 5px 0 5px;" disabled="@state" @onclick="() => DueCompleteToggle(context.User.Claims)">
                        <RadzenIcon Style="margin: 5px;" Icon="@icon" />
                    </button>
                    @if (!isReadOnly)
                    {
                    @switch (position)
                    {
                        case "Top":
                            <span class="tooltiptext-simple tooltip-simple-top">
                                @tooltipMsg
                            </span>
                            break;
                        case "Right":
                            <span class="tooltiptext-simple tooltip-simple-right">
                                @tooltipMsg
                            </span>
                            break;
                        case "Bottom":
                            <span class="tooltiptext-simple tooltip-simple-bottom">
                                @tooltipMsg
                            </span>
                            break;
                        case "Left":
                            <span class="tooltiptext-simple tooltip-simple-left">
                                @tooltipMsg
                            </span>
                            break;
                        default:
                            break;
                    }
                    }
                </div>

                <div class="d-inline-block" style="visibility: hidden;">
                    <!-- ATTUALMENTE NON IN USO -->
                    <div class="tooltip-simple" style="width: 0px;">
                        <button class="badge-circle valign-middle p-0 bg-dark color-white font-smaller" style="margin: 0px 5px 0 5px;" @onclick="DialogOpenSetDue">
                            <RadzenIcon Style="margin: 5px;" Icon="date_range" />
                        </button>

                        @switch (position)
                        {
                            case "Top":
                                <span class="tooltiptext-simple tooltip-simple-top">
                                    Clicca per cambiare lo stato
                                </span>
                                break;
                            case "Right":
                                <span class="tooltiptext-simple tooltip-simple-right">
                                    Clicca per cambiare lo stato
                                </span>
                                break;
                            case "Bottom":
                                <span class="tooltiptext-simple tooltip-simple-bottom">
                                    Clicca per cambiare lo stato
                                </span>
                                break;
                            case "Left":
                                <span class="tooltiptext-simple tooltip-simple-left">
                                    Clicca per cambiare lo stato
                                </span>
                                break;
                            default:
                                break;
                        }
                    </div>
                </div>

                <div class="d-inline-block" style="width: 180px;">
                    <p style="font-weight: bolder;">
                        @if (card.due.Equals("Non presente"))
                        {
                            @card.due
                        }
                        else
                        {
                            @card.dueDateTime
                        }
                    </p>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>



@code
{
    [Parameter]
    public HubConnection hubConnection { get; set; }
    [Parameter]
    public Card card { get; set; }
    [Parameter]
    public string position { get; set; }
    [Parameter]
    public bool isReadOnly { get; set; }


    private async void DueCompleteToggle(IEnumerable<Claim> claims)
    {
        if (isReadOnly) { return; }

        card.dueComplete = !card.dueComplete;
        try
        {
            trelloContext.SetDueComplete(claims, card);
            Thread.Sleep(500);
            RadzenSupport.SendNotificationMessage(
                notificationService,
                card.dueComplete ? NotificationSeverity.Success : NotificationSeverity.Error,
                "Cambio Stato Scadenza in:",
                card.dueComplete ? "Completata" : "Non Completata");

            await hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id);
        }
        catch (Exception e)
        {
            //Annullo la modifica in caso di errore
            card.dueComplete = !card.dueComplete;
            RadzenSupport.SendNotificationMessage(
                notificationService,
                NotificationSeverity.Error,
                "Errore Interno",
                "I servizi Trello non rispondono");
            ILogger logger = Logger.Singleton();
            logger.LogError("Stack Trace errore: " + e.StackTrace);
        }
    }



    //Non so se qui serve...o farlo
    private void DialogOpenSetDue()
    {
        //dialogService.Open<LoadingAnimation>("Caricamento...");
        //forse animazione non serve
        //incompleto...qui. Questo non viene usato, ma doveva essere un modifica veloce ovunque venisse visualizzata la data di scadenza
        dialogService.OpenAsync<DialogSetDue>("Titolo", null, new DialogOptions() { ShowTitle = true, ShowClose = true, Style = "min-width: 400px; min-height: 125px; width: auto; height: auto;" });
    }
}
