﻿/* TAG START */
a.underline-none:hover {
    text-decoration: none;
}

fieldset {
    border-radius: 1.5rem;
    margin: 10px;
}
/* TAG END */




/* Override di Radzen o Bootstrap START */
/* Permette al contenuto in overflow di sovrapporsi senza nascondersi,
   in questo modo il tool-tip viene visualizzato correttamente nella 
   tabella RadzenGrid
*/
.rz-cell-data {
    overflow: visible !important;
    white-space: normal !important;
}

/* Per allineare i bottoni funzione nella visuale della singola card */
.card-buttonsplit.rz-splitbutton .rz-button-text-icon-left {
    width: 160px;
    margin-top: 15px;
}

/* Per allineare i bottoni funzione nella visuale della singola card */
.card-buttonsplit.rz-splitbutton .rz-splitbutton-menubutton {
    margin-right: 30px;
    margin-top: 15px;
}

.buttonsplit-primary .rz-button-text-icon-left {
    /* eredita */
}

.buttonsplit-primary.rz-splitbutton .rz-splitbutton-menubutton {
    /* eredita */
}

.buttonsplit-secondary.rz-splitbutton .rz-splitbutton-menubutton {
    background-color: #479cc8;
    border-left: solid 1px #3f8cb3;
}

.buttonsplit-secondary .rz-button-text-icon-left {
    background-color: #479cc8;
}
/* Override di Radzen o Bootstrap END */




/* CSS Custom START */
.card-button {
    margin-top: 15px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 197px;
}

.card-note {
    height: 236px;
    overflow: auto;
    text-align: justify;
}

.card-appuntamenti-storico-container {
    max-height: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-appuntamenti-storico-row {
    border-bottom-style: solid;
    border-bottom-color: darkgrey;
    border-bottom-width: medium;
}

.card-commenti-container {
    overflow-y: auto;
    min-height: 250px;
    max-height: 500px;
}

.card-commento {
    min-width: 400px;
    width: 100%;
    min-height: 200px;
    height: fit-content;
    max-height: 500px;
    margin: 15px 15px 0px 0px;
}

/* TextArea dove scrivere */
.card-commento-textarea {
    resize: vertical;
    min-width: 400px;
    width: 100%;
    min-height: 50px;
    height: 85px;
    max-height: 300px;
    margin: 15px 15px 0px 0px;
}

/* Dimensione del testo da visualizzare */
.card-commento-text {
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 400px;
    width: 100%;
    min-height: 50px;
    height: fit-content;
    max-height: 300px;
    margin: 15px 15px 0px 0px;
}

.card-allegati-container {
    overflow-y: auto;
    min-height: 250px;
    max-height: 500px;
}

.avatar-circle {
    width: 40px;
    height: 40px;
    border-radius: 2rem;
}

.badge-circle {
    display: inline-block;
    padding: .15em .15em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

/* Bottoni con altri colori START */

.btn-outline-blue {
    color: #0079bf;
    border-color: #0079bf;
}

    .btn-outline-blue:hover {
        color: #fff;
        background-color: #0079bf;
        border-color: #0079bf;
    }

    .btn-outline-blue.focus, .btn-outline-blue:focus {
        box-shadow: 0 0 0 .2rem rgba(0,121,191,.5);
    }

    .btn-outline-blue.disabled, .btn-outline-blue:disabled {
        color: #0079bf;
        background-color: transparent;
    }

    .btn-outline-blue:not(:disabled):not(.disabled).active, .btn-outline-blue:not(:disabled):not(.disabled):active, .show > .btn-outline-blue.dropdown-toggle {
        color: #fff;
        background-color: #0079bf;
        border-color: #0079bf;
    }

        .btn-outline-blue:not(:disabled):not(.disabled).active:focus, .btn-outline-blue:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-blue.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(0,121,191,.5);
        }

.btn-outline-purple {
    color: #c377e0;
    border-color: #c377e0;
}

    .btn-outline-purple:hover {
        color: #fff;
        background-color: #c377e0;
        border-color: #c377e0;
    }

    .btn-outline-purple.focus, .btn-outline-purple:focus {
        box-shadow: 0 0 0 .2rem rgba(195,119,224,.5);
    }

    .btn-outline-purple.disabled, .btn-outline-purple:disabled {
        color: #c377e0;
        background-color: transparent;
    }

    .btn-outline-purple:not(:disabled):not(.disabled).active, .btn-outline-purple:not(:disabled):not(.disabled):active, .show > .btn-outline-purple.dropdown-toggle {
        color: #fff;
        background-color: #c377e0;
        border-color: #c377e0;
    }

        .btn-outline-purple:not(:disabled):not(.disabled).active:focus, .btn-outline-purple:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-purple.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(195,119,224,.5);
        }

.btn-outline-orange {
    color: #ff9f1a;
    border-color: #ff9f1a;
}

    .btn-outline-orange:hover {
        color: #fff;
        background-color: #ff9f1a;
        border-color: #ff9f1a;
    }

    .btn-outline-orange.focus, .btn-outline-orange:focus {
        box-shadow: 0 0 0 .2rem rgba(255,160,26,.5);
    }

    .btn-outline-orange.disabled, .btn-outline-orange:disabled {
        color: #ff9f1a;
        background-color: transparent;
    }

    .btn-outline-orange:not(:disabled):not(.disabled).active, .btn-outline-orange:not(:disabled):not(.disabled):active, .show > .btn-outline-orange.dropdown-toggle {
        color: #fff;
        background-color: #ff9f1a;
        border-color: #ff9f1a;
    }

        .btn-outline-orange:not(:disabled):not(.disabled).active:focus, .btn-outline-orange:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-orange.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(255,160,26,.5);
        }
/* Bottoni con altri colori END */

/*
<div class="tooltip-simple">
    Hover over me
    <span class="tooltiptext-simple tooltip-simple-top">Tooltip text</span>
</div>
*/
.tooltip-simple {
    position: relative;
    display: inline-block;
    border-bottom: hidden; /* 1px dotted #ccc */
    color: #006080;
}

    .tooltip-simple .tooltiptext-simple {
        visibility: hidden;
        position: absolute;
        width: fit-content;
        min-width: 150px;
        max-width: 300px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 5px;
        border-radius: 6px;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip-simple:hover .tooltiptext-simple {
        visibility: visible;
        opacity: 1;
    }

.tooltip-simple-right {
    top: -5px;
    left: 125%;
}

    .tooltip-simple-right::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #555 transparent transparent;
    }

.tooltip-simple-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

    .tooltip-simple-bottom::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }

.tooltip-simple-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

    .tooltip-simple-top::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.tooltip-simple-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

    .tooltip-simple-left::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #555;
    }

.fit-content {
    max-width: fit-content;
}

.font-smaller {
    font-size: smaller;
}

.text-align-center {
    text-align: center;
}

.valign-middle {
    vertical-align: middle;
}

.valign-bottom {
    vertical-align: bottom;
}

.valign-top {
    vertical-align: top;
}

.color-white {
    color: white;
}

.color-blue {
    color: #0079bf;
}

.color-purple {
    color: #c377e0;
}

.color-orange {
    color: #ff9f1a;
}

.color-green {
    color: #61bd4f;
}

.color-black {
    color: #344563;
}

.color-sky {
    color: #00c2e0;
}

.color-red {
    color: #eb5a46;
}

.color-lime {
    color: #51e898;
}

.color-gray {
    color: #b3bac5;
}

.bg-color-white {
    background-color: white;
}

.bg-color-blue {
    background-color: #0079bf;
}

.bg-color-purple {
    background-color: #c377e0;
}

.bg-color-orange {
    background-color: #ff9f1a;
}

.bg-color-green {
    background-color: #61bd4f;
}

.bg-color-black {
    background-color: #344563;
}

.bg-color-sky {
    background-color: #00c2e0;
}

.bg-color-red {
    background-color: #eb5a46;
}

.bg-color-lime {
    background-color: #51e898;
}

.bg-color-gray {
    background-color: #b3bac5;
}
/* CSS Custom END */
