﻿@page "/Cards_Per_List_View"
@page "/Cards_Per_List_View/{listIdSelected}"


@using System.Threading
@using Portale_Trello.Models.Trello
@using Portale_Trello.Component.Trello
@using Portale_Trello.Component.Shared
@using Portale_Trello.Models.Hubs
@using Microsoft.AspNetCore.SignalR.Client

@inject IJSRuntime jsRuntime
@inject TrelloContext trelloContext
@inject NotificationService notificationService
@inject DialogService dialogService
@inject TooltipService tooltipService
@inject NavigationManager navManager

@implements IAsyncDisposable


<h1>Liste di Trello</h1>

<AuthorizeView>
    <Authorized>
        <p>Questo permette la visualizzazione delle schede di una singola lista.</p>

        @if (isLoading)
        {
            <LoadingAnimation />
        }
        else if (!isInit)
        {
            TrelloSyncDataAsync(context.User.Claims);
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <label for="list_select">Lista da visualizzare:</label>
                    <RadzenDropDown Style="width:250px; vertical-align:middle; margin: 10px;" AllowClear="false" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    @bind-Value=@listIdSelected Change=@(e => SelectOnChangeAsync(e)) Multiple="false" Placeholder="Select..."
                                    Data=@listsToShow TextProperty="name" ValueProperty="id" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenGrid @ref="radzenGrid" Responsive="true" AllowFiltering="true" AllowColumnResize="false" FilterMode="FilterMode.Advanced" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@cardsToShow" TItem="Card" LogicalFilterOperator="LogicalFilterOperator.Or" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                        <Columns>
                            <RadzenGridColumn TItem="Card" Property="name" Filterable="true" Title=@columnFirstTitle TextAlign="TextAlign.Center" Width="300px">
                                <Template Context="card">
                                    <div name="Spessore Riga Tabella" style="margin: 20px  0px 20px 0px;">
                                        <button class="btn @ButtonType" style="width: 100%;" type="button" @onclick="() => DialogOpenCard(card)">@card.name</button>
                                    </div>
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="Card" Property="labels" Title="Etichette" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                <Template Context="card">
                                    <div class="row">
                                        <div class="col-md-12 text-justify">
                                            @foreach (var label in card.labels)
                                            {
                                                <LabelCard label="label" />
                                            }
                                        </div>
                                    </div>
                                </Template>
                            </RadzenGridColumn>


                            <RadzenGridColumn TItem="Card" Property="dueDateTime" Title="Scadenza" TextAlign="TextAlign.Center">
                                <Template Context="card">
                                    <DueCard card="card" hubConnection="hubConnection" position="Right" />
                                </Template>
                            </RadzenGridColumn>


                            <RadzenGridColumn TItem="Card" Title="Funzioni" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                <Template Context="card">
                                    <div class="d-inline-block">
                                        <div class="tooltip-simple">
                                            <button class="badge-circle bg-primary color-white valign-middle font-smaller" style="margin: 0px 5px 0 5px;" @onclick="(e => OpenInTrello(card.shortUrl))">
                                                <RadzenIcon Style="margin: 5px;" Icon="payment"></RadzenIcon>
                                            </button>
                                            <span class="tooltiptext-simple tooltip-simple-left">
                                                Apri in Trello
                                            </span>
                                        </div>
                                    </div>

                                    <div class="d-inline-block">
                                        <div class="tooltip-simple">
                                            <button class="badge-circle bg-primary color-white valign-middle font-smaller" style="margin: 0px 5px 0 5px;" @onclick="(e => OpenInTrello(card.shortUrl))">
                                                <RadzenIcon Style="margin: 5px;" Icon="add_shopping_cart"></RadzenIcon>
                                            </button>
                                            <span class="tooltiptext-simple tooltip-simple-left">
                                                Crea Commessa
                                            </span>
                                        </div>
                                    </div>
                                </Template>
                            </RadzenGridColumn>
                        </Columns>
                    </RadzenGrid>
                </div>
            </div>
        }
    </Authorized>


    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>






@code
{
    //SignalR
    private HubConnection hubConnection;

    //Pagina
    private bool isInit;
    private bool isLoading;
    private IEnumerable<Claim> claims;

    private IEnumerable<List> listsToShow;
    private string ButtonType;
    [Parameter]
    public string listIdSelected { get; set; }
    private List<Card> cardsToShow;

    private RadzenGrid<Card> radzenGrid;
    private string columnFirstTitle;

    //Dialog
    private Card cardShowedInDialog;
    private Queue<Card> cardsDialog;


    protected override async void OnInitialized()
    {
        cardsDialog = new Queue<Card>();

        hubConnection = new HubConnectionBuilder().WithUrl(
            navManager.ToAbsoluteUri(AppEndPoints.MESSAGE_HUB)).Build();

        hubConnection.On<string, string>(MessagesHubReceive.UpdateView, async (listId, cardId) =>
        {
            if (listId != null && listId.Equals(listIdSelected))
            {
                cardsToShow = null;
                cardsToShow = trelloContext.CardDataFormatChange(await trelloContext.GetCardsPerList(claims, listIdSelected)).ToList();
                StateHasChanged();
            }
        });

        await hubConnection.StartAsync();
    }




    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }




    private async void TrelloSyncDataAsync(IEnumerable<Claim> claims)
    {
        try
        {
            isInit = true;
            isLoading = true;
            StateHasChanged();
            this.claims = claims;
            DataFiltered();
            await SelectOnChangeAsync(null);
            isLoading = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            Logger logger = Logger.Singleton();
            logger.LogError("Una chiamata ai servizi Trello non è andata a buon fine. Stack Trace: " + e.StackTrace);
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Error, "Errore Interno", "I servizi Trello non rispondono");
            navManager.NavigateTo("/");
        }
    }




    private async Task SelectOnChangeAsync(object args)
    {
        if (listIdSelected == null)
        {
            //Imposto come default Id della lista Contatti
            listIdSelected = "5f9694c3b8ea6d57f9eaa77d";
        }


        if (listIdSelected != null)
        {
            isLoading = true;
            StateHasChanged();
            cardsToShow = null;
            cardsToShow = trelloContext.CardDataFormatChange(await trelloContext.GetCardsPerList(claims, listIdSelected)).ToList();
            isLoading = false;
            StateHasChanged();
        }

        if (radzenGrid != null) { await radzenGrid.FirstPage(); }

        List list = (listsToShow.ToList<List>()).Find(list => list.id.Equals(listIdSelected));
        columnFirstTitle = "Non Trovato!";
        if (list.name.ToLower().Contains("contatt"))
        {
            columnFirstTitle = "Nome e Cognome";
            ButtonType = "btn-outline-blue";
        }
        else if (list.name.ToLower().Contains("commess"))
        {
            columnFirstTitle = "Tipo";
            ButtonType = "btn-outline-purple";
        }
        else if (list.name.ToLower().Contains("opportunità"))
        {
            columnFirstTitle = "Tipo";
            ButtonType = "btn-outline-orange";
        }
    }




    //Determina quali liste possono essere visualizzate, se tecniche e/o logica di business
    private async void DataFiltered()
    {
        listsToShow = (await trelloContext.GetLists(claims))
            .Where<List>(list => list.isTypeBusiness);
    }




    private async Task DialogOpenCard(Card card)
    {
        /*
        RadzenSupport.SendNotificationMessage(
            notificationService,
            NotificationSeverity.Warning,
            "Attendi qualche istante!",
            "La sincronizzazione è in corso");*/
        /*
        //Apre una dialog per comunicare un caricamento, ma non si chiude
        await dialogService.OpenAsync("", ds =>
            @<div>
                <div class="row">
                    <div class="col-md-12">
                        Loading...
                    </div>
                </div>
            </div>, new DialogOptions() { ShowTitle = false, Style = "min-height:auto;min-width:auto;width:auto" });
        */

        List list = (await trelloContext.GetLists(claims)).Find(list => list.id.Equals(listIdSelected));
        string type_name = "Non Trovato!";
        if (list.name.ToLower().Contains("contatt"))
        {
            type_name = "Contatto";
        }
        else if (list.name.ToLower().Contains("commess"))
        {
            type_name = "Commessa";
        }
        else if (list.name.ToLower().Contains("opportunità"))
        {
            type_name = "Opportunità";
        }

        //È possibile ricavare i dati dei plug-in solo ad una scheda per volta
        dialogService.Open<LoadingAnimation>("Caricamento...");


        if (type_name.Equals("Contatto"))
        {
            card = await trelloContext.GetCardFullData(claims, card);
            card = trelloContext.CardDataFormatChange(card);
            cardsDialog.Enqueue(card);//Forse non più necessario grazie a SignalR
            dialogService.Close();
            dialogService.OnClose += DialogOnClose;
            await dialogService.OpenAsync<CardContactView>("Scheda " + type_name + ": " + card.name,
               new Dictionary<string, object>() { { "card", card }, { "claims", claims } },
               new DialogOptions() { ShowTitle = true, ShowClose = true, Width = "90%", Height = "90%" });
        }
        else
        {
            card = await trelloContext.GetCardData(claims, card);
            card = trelloContext.CardDataFormatChange(card);
            cardsDialog.Enqueue(card);//Forse non più necessario grazie a SignalR
            dialogService.Close();
            dialogService.OnClose += DialogOnClose;
            await dialogService.OpenAsync<CardTaskView>("Scheda " + type_name + ": " + card.name,
                new Dictionary<string, object>() { { "card", card }, { "claims", claims } },
                new DialogOptions() { ShowTitle = true, ShowClose = true, Width = "90%", Height = "90%" });
        }

    }




    /*
    N.B. Forse questa funzione non è più necessaria grazie a SignalR

    Per aggiornare lo stato della data di scadenza visualizzato nello scope della tabella, nel Dialog si aggiorna da solo

    Quando si apre il dialog e si preme il bottone che cambia lo stato della data di scadenza questo non viene visualizzato
    nella visuale della tabella perché sono due view con variabili distinte che indicano lo stesso valore diverse.
    In questo modo forzo l'aggiornamento.
    */
    private void DialogOnClose(dynamic dynamic)
    {
        dialogService.OnClose -= DialogOnClose;
        //Ricarico completamente la carta nel caso ci siano state modifiche
        //Attendo per la sincronizzazione nel caso di azioni veloci da parte dell'utente
        Thread subThread = new Thread(() =>
        {
            int cardToUpdateIndex = cardsToShow.FindIndex(card => card.id.Equals(cardsDialog.Peek().id));
            if (cardToUpdateIndex != -1)
            {
                Thread.Sleep(3500);

                Card cardUpdated = null;
                List list = (trelloContext.GetLists(claims)).Result.Find(list => list.id.Equals(listIdSelected));
                if (list.name.ToLower().Contains("contatt"))
                {
                    cardUpdated = trelloContext.GetCardFullData(claims, cardsDialog.Dequeue()).Result;
                }
                else
                {
                    cardUpdated = trelloContext.GetCardData(claims, cardsDialog.Dequeue()).Result;
                }
                cardUpdated = trelloContext.CardDataFormatChange(cardUpdated);
                //Nel caso l'utente cambia la lista visualizzata non è più necessario aggiornare, perché la card non è più in view.
                if (cardUpdated.idList == listIdSelected)
                {
                    cardsToShow[cardToUpdateIndex] = cardUpdated;
                }

                InvokeAsync(radzenGrid.Reload);
            }
        });
        subThread.Start();
    }




    private async void OpenInTrello(string url)
    {
        //È risaputo che venga lanciata una exception, ma non si sa perché
        //fonte: https://stackoverflow.com/questions/62769031/how-can-i-open-a-new-window-without-using-js
        try
        {
            await jsRuntime.InvokeAsync<object>("open", url, "_blank");
        }
        catch (Exception)
        {
            //do nothing
        }
    }
}