﻿@page "/CardContactView/{card}"


@using System.Threading
@using Microsoft.AspNetCore.SignalR.Client
@using Portale_Trello.Models.Trello
@using Portale_Trello.Models.Trello.Actions
@using Portale_Trello.Models.Hubs
@using Portale_Trello.Component.Trello

@inject IJSRuntime jsRuntime
@inject TrelloContext trelloContext
@inject DialogService dialogService
@inject NotificationService notificationService
@inject NavigationManager navManager

@implements IAsyncDisposable




<AuthorizeView>
    <Authorized>
        @if (isLoading)
        {
            <LoadingAnimation />
        }
        else
        {
            string claimModules = context.User.Claims.First(claim => claim.Type.Equals("module")).Value;
            string claimPrivileges = context.User.Claims.First(claim => claim.Type.Equals(ClaimsIdentity.DefaultRoleClaimType)).Value;


            <RadzenCard Style="margin-bottom: 20px;">
                <div name="Nome Icona Etichette" class="row">
                    <div class="col-md-12">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span>
                                    <RadzenIcon Icon="account_circle" Style="vertical-align:sub" /><b style="font-size:20px">Contatto</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <div class="row align-items-center justify-content-center">
                                    <div name="Icona e Nome Cognome" class="col-md-auto justify-content-center m-1">
                                        <RadzenImage Path="/css/img/user-solid.png" Style="width:50px;" />
                                        <b>@card.name</b>
                                    </div>

                                    <div name="Etichette" class="col-md-8 text-align-center m-1">
                                        @if (card.labels.Count > 0)
                                        {
                                            @foreach (Label label in card.labels)
                                            {
                                                <LabelCard label="label" />
                                            }
                                        }
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenFieldset>
                    </div>
                </div>


                <div name="Gruppo tasti funzioni" class="row mt-3">
                    <div class="col-md-12">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span>
                                    <RadzenIcon Icon="smart_button" Style="vertical-align:sub" /><b style="font-size:20px">Funzioni</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <div class="row">
                                    <div class="col-md-12 text-align-center" style="margin-bottom: 15px;">
                                        <div>
                                            @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN) || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR) || claimModules.Contains(TrelloModuleAccess.BUTTON_APRI_IN_TRELLO))
                                            {
                                                <RadzenButton Text="Apri in Trello" Click="@(e => OpenLinkNewPage(card.shortUrl))" ButtonStyle="ButtonStyle.Secondary" Icon="payment" class="card-button" />
                                            }

                                            @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN) || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR) || claimModules.Contains(TrelloModuleAccess.BUTTON_CREA_APPUNTAMENTO))
                                            {
                                                <RadzenButton Text="Crea App." ButtonStyle="ButtonStyle.Secondary" Icon="alarm" Click="@DialogOpenSetDue" class="card-button" />
                                            }

                                            @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN) || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR) || claimModules.Contains(TrelloModuleAccess.BUTTON_ALLEGATO))
                                            {
                                                <RadzenButton Text="Allegato" ButtonStyle="ButtonStyle.Secondary" Icon="attach_file" Click="@DialogOpenUploadAttachment" class="card-button" />
                                            }

                                            @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN) || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR) || claimModules.Contains(TrelloModuleAccess.BUTTON_OSPITANTE))
                                            {
                                                <RadzenSplitButton Text="Ospitante BTS" Click="@(item => FunctionTrigger(context.User.Claims, "Ospitante_BTS", item))" Icon="settings_input_antenna" class="card-buttonsplit buttonsplit-secondary">
                                                    <ChildContent>
                                                        <RadzenSplitButtonItem Text="Rimuovi Etichetta" Value="Rimuovi" Icon="local_offer" />
                                                    </ChildContent>
                                                </RadzenSplitButton>
                                            }

                                            @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN) || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR) || claimModules.Contains(TrelloModuleAccess.BUTTON_PARTNER))
                                            {
                                                <RadzenSplitButton Text="Partner" Click="@(item => FunctionTrigger(context.User.Claims, "Partner", item))" Icon="groups" class="card-buttonsplit buttonsplit-secondary">
                                                    <ChildContent>
                                                        <RadzenSplitButtonItem Text="Rimuovi Etichetta" Value="Rimuovi" Icon="local_offer" />
                                                    </ChildContent>
                                                </RadzenSplitButton>
                                            }

                                            @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN) || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR) || claimModules.Contains(TrelloModuleAccess.BUTTON_PUSH))
                                            {
                                                <RadzenSplitButton Text="Push Accetta" Click="@(item => FunctionTrigger(context.User.Claims, "Push", item))" Icon="local_offer" class="card-buttonsplit buttonsplit-secondary">
                                                    <ChildContent>
                                                        <RadzenSplitButtonItem Text="Push Da Risentire" Value="Risentire" Icon="local_offer" />
                                                        <RadzenSplitButtonItem Text="Push Non Accetta" Value="NonAccetta" Icon="local_offer" />
                                                    </ChildContent>
                                                </RadzenSplitButton>
                                            }

                                            @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN) || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR) || claimModules.Contains(TrelloModuleAccess.BUTTON_PRIVACY))
                                            {
                                                <RadzenSplitButton Text="Privacy Accetta" Click="@(item => FunctionTrigger(context.User.Claims, "Privacy", item))" Icon="policy" class="card-buttonsplit buttonsplit-secondary">
                                                    <ChildContent>
                                                        <RadzenSplitButtonItem Text="Privacy Non Accetta" Value="NonAccetta" Icon="policy" />
                                                    </ChildContent>
                                                </RadzenSplitButton>
                                            }

                                            @if (claimPrivileges.Contains(UserPrivilegeLevels.ADMIN) || claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR) || claimModules.Contains(TrelloModuleAccess.BUTTON_SQUADRA))
                                            {
                                                <RadzenSplitButton Text="Squadra 1" Click="@(item => FunctionTrigger(context.User.Claims, "Squadra", item))" Icon="group" class="card-buttonsplit buttonsplit-secondary">
                                                    <ChildContent>
                                                        <RadzenSplitButtonItem Text="Squadra 2" Value="Squadra2" Icon="group" />
                                                    </ChildContent>
                                                </RadzenSplitButton>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenFieldset>
                    </div>
                </div>


                @if (card.GetPluginValueCrmble().GetFieldsNotNullOrEmpty().Count > 0)
                {
                    <div name="Dati personali" class="row mt-3">
                        <div class="col-md-12">
                            <RadzenFieldset AllowCollapse="true" Collapsed="true">
                                <HeaderTemplate>
                                    <span>
                                        <RadzenIcon Icon="account_circle" Style="vertical-align:sub" /><b style="font-size:20px">Dati Personali</b>
                                    </span>
                                </HeaderTemplate>
                                <ChildContent>
                                    <div class="row">
                                        @foreach (KeyValuePair<string, string> field in card.GetPluginValueCrmble().GetFieldsNotNullOrEmpty())
                                        {
                                            <div class="col-md-4">
                                                <div class="input-group m-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" style="width: 150px;" id="inputGroup-sizing-default">@field.Key</span>
                                                    </div>
                                                    <input readonly type="text" class="form-control bg-light fit-content" style="width: 180px;" name="nome" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="@field.Value">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </ChildContent>
                            </RadzenFieldset>
                        </div>
                    </div>
                }


                <div name="Altre Info" class="row mt-3">
                    <div class="col-md-12">
                        <RadzenFieldset AllowCollapse="true" Collapsed="true">
                            <HeaderTemplate>
                                <span>
                                    <RadzenIcon Icon="format_list_numbered" Style="vertical-align:sub" /><b style="font-size:20px">Altre Info</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <div class="row justify-content-center">
                                    <div name="Scadenza Venditore Note" class="col-md-4" style="min-width: 280px;">
                                        <RadzenFieldset Text="Appuntamento Programmato:">
                                            @if (card.due.Equals("Non presente"))
                                            {
                                                <p class="text-align-center" style="font-weight: bolder">@card.due</p>
                                            }
                                            else
                                            {
                                                bool isReadOnly = !claimPrivileges.Contains(UserPrivilegeLevels.ADMIN)
                                                    && !claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR)
                                                    && !claimModules.Contains(TrelloModuleAccess.BUTTON_CAMBIA_STATO_APPUNTAMENTO);
                                                <DueCard card="card" hubConnection="hubConnection" position="Right" isReadOnly="isReadOnly" />
                                            }
                                        </RadzenFieldset>

                                        <RadzenFieldset Text="Venditore:">
                                            <b>@venditoreField</b>
                                        </RadzenFieldset>

                                        <RadzenFieldset class="card-note" Text="Note:">
                                            <b>@card.desc</b>
                                        </RadzenFieldset>
                                    </div>

                                    <div name="Scadenza Storico" class="col-md-8">
                                        <RadzenFieldset Text="Appuntamenti Storico:" Style="max-height: auto;">
                                            <RadzenGrid Responsive="true" AllowFiltering="true" AllowColumnResize="false" FilterMode="FilterMode.Advanced" PageSize="4" AllowPaging="true" AllowSorting="true" Data="@card.appuntamenti" TItem="AppuntamentoBusiness" LogicalFilterOperator="LogicalFilterOperator.Or" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                                                <Columns>
                                                    <RadzenGridColumn TItem="AppuntamentoBusiness" Property="number" Filterable="true" Title="#" TextAlign="TextAlign.Center">
                                                        <Template Context="app">
                                                            @(app.number + 1)
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="AppuntamentoBusiness" Property="start" Filterable="true" Title="Fissato per il:" TextAlign="TextAlign.Center">
                                                        <Template Context="app">
                                                            @app.start
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="AppuntamentoBusiness" Property="creationDate" Filterable="true" Title="Creato il:" TextAlign="TextAlign.Center">
                                                        <Template Context="app">
                                                            @app.creationDate
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="AppuntamentoBusiness" Property="creationDate" Filterable="false" Sortable="false" Title="Stato:" TextAlign="TextAlign.Center">
                                                        <Template Context="app">
                                                            @{
                                                                string bgColor = "black";
                                                                switch (app.state)
                                                                {
                                                                    case "Ok":
                                                                        bgColor = "green";
                                                                        break;
                                                                    case "Sospeso":
                                                                        bgColor = "red";
                                                                        break;
                                                                    case "Annullato":
                                                                        bgColor = "red";
                                                                        break;
                                                                    case "Spostato":
                                                                        bgColor = "orange";
                                                                        break;
                                                                }
                                                            }
                                                            <div class="badge m-3 p-2 color-white font-smaller" style="background-color:@bgColor; width:100px;">
                                                                @app.state
                                                            </div>
                                                        </Template>
                                                    </RadzenGridColumn>
                                                </Columns>
                                            </RadzenGrid>
                                        </RadzenFieldset>
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenFieldset>
                    </div>
                </div>


                <div name="Commenti e Allegati" class="row mt-3">
                    <div class="col-md-6">
                        <RadzenFieldset AllowCollapse="true" Collapsed="true">
                            <HeaderTemplate>
                                <span>
                                    @if (comments == null)
                                    {
                                        <RadzenIcon Icon="question_answer" Style="vertical-align:sub" />

                                        <b style="font-size:20px">Commenti (0)</b>
                                    }
                                    else
                                    {
                                        <RadzenIcon Icon="question_answer" Style="vertical-align:sub" />

                                        <b style="font-size:20px">Commenti (@comments.Length)</b>
                                    }
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <div class="card-commenti-container">
                                    @if (member != null)
                                    {
                                        <div name="Scrivi Commento" class="card mb-5">
                                            <div class="card-header">
                                                <div class="d-inline-block valign-top">
                                                    <img src=@(member.avatarUrl + "/original.png") class="avatar-circle m-2" alt="img profilo">
                                                </div>
                                                <div class="d-inline-block">
                                                    <p>@member.fullName</p>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="text-align-center" style="margin-right: 30px;">
                                                    <RadzenTextArea @ref="commentTextArea" @oninput=@((e) => CommentCheck(e)) Placeholder="Scrivi commento..." class="card-commento-textarea" />
                                                </div>
                                                <div>
                                                    <RadzenButton @ref="commentSaveButton" Disabled=@commentSaveButtonDisabled Click=@(PostComment) Text="Salva" ButtonStyle="ButtonStyle.Secondary" Icon="add_circle" class="card-button" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (comments != null)
                                    {
                                        @foreach (ActionTrello item in comments)
                                        {
                                            string avatar = item.memberCreator.avatarUrl + "/original.png";
                                            <div name="Commento" class="card mb-5 card-commento">
                                                <div class="card-header">
                                                    <div class="d-inline-block valign-top">
                                                        <img src=@avatar class="avatar-circle m-2" alt="img profilo">
                                                    </div>
                                                    <div class="d-inline-block">
                                                        <p>@item.memberCreator.fullName</p>
                                                        @{
                                                            //+2H fuso orario, N.B. nella data di scadenza vale -6H non so perché
                                                            DateTime _dateTimeZone = item.date.AddHours(2);
                                                        }

                                                        @if (DateTime.Now.Subtract(_dateTimeZone).TotalMinutes < 59)
                                                        {
                                                            <h6 class="card-subtitle mt-0 text-muted">
                                                                @Convert.ToInt32(DateTime.Now.Subtract(_dateTimeZone).TotalMinutes) min. fa
                                                            </h6>
                                                        }
                                                        else if (DateTime.Now.Subtract(item.date).TotalDays < 1)
                                                        {
                                                            <h6 class="card-subtitle mt-0 text-muted">
                                                                @Convert.ToInt32(DateTime.Now.Subtract(_dateTimeZone).TotalHours) ore fa
                                                            </h6>
                                                        }
                                                        else if (DateTime.Now.Subtract(item.date).TotalDays < 7)
                                                        {
                                                            <h6 class="card-subtitle mt-0 text-muted">
                                                                @Convert.ToInt32(DateTime.Now.Subtract(_dateTimeZone).TotalDays) giorni fa
                                                            </h6>
                                                        }
                                                        else
                                                        {
                                                            <h6 class="card-subtitle mt-0 text-muted">
                                                                @_dateTimeZone.ToString("dd/MM/yyyy HH:mm")
                                                            </h6>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="card-commento-text">
                                                        <p class="card-text text-justify">@((MarkupString)item.data.text)</p>
                                                    </div>
                                                    <div>
                                                        <RadzenButton Text="Rispondi" ButtonStyle="ButtonStyle.Secondary" Icon="add_circle" class="card-button" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </ChildContent>
                        </RadzenFieldset>
                    </div>
                    <div class="col-md-6">
                        <RadzenFieldset AllowCollapse="true" Collapsed="true">
                            <HeaderTemplate>
                                <span>
                                    @if (attachments == null)
                                    {
                                        <RadzenIcon Icon="attach_file" Style="vertical-align:sub" />

                                        <b style="font-size:20px">Allegati (0)</b>
                                    }
                                    else
                                    {
                                        <RadzenIcon Icon="attach_file" Style="vertical-align:sub" />

                                        <b style="font-size:20px">Allegati (@attachments.Length)</b>
                                    }
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <div class="card-allegati-container">
                                    <RadzenGrid Responsive="true" AllowFiltering="true" AllowColumnResize="false" FilterMode="FilterMode.Advanced" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@attachments" TItem="Attachment" LogicalFilterOperator="LogicalFilterOperator.Or" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                                        <Columns>
                                            <RadzenGridColumn TItem="Attachment" Property="name" Filterable="true" Title="Nome" TextAlign="TextAlign.Center">
                                                <Template Context="item">
                                                    <div name="Spessore Riga Tabella" style="margin: 20px  0px 20px 0px;">
                                                        <button class="btn btn-outline-info" style="width: 100%;" type="button" @onclick="() => OpenLinkNewPage(item.url)">@item.name</button>
                                                    </div>
                                                </Template>
                                            </RadzenGridColumn>
                                            <RadzenGridColumn TItem="Attachment" Property="date" Filterable="true" Title="Aggiunto il" TextAlign="TextAlign.Center">
                                            </RadzenGridColumn>
                                            <RadzenGridColumn TItem="Attachment" Property="idMember" Filterable="true" Title="Proprietario" TextAlign="TextAlign.Center">
                                                <Template Context="item">
                                                    @item.memberCreator.fullName
                                                </Template>
                                            </RadzenGridColumn>
                                        </Columns>
                                    </RadzenGrid>
                                </div>
                            </ChildContent>
                        </RadzenFieldset>
                    </div>
                </div>
            </RadzenCard>


            <div class="row">
                <div class="col-md-12 text-align-center">
                    <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Light" Text="Chiudi" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>
        }
    </Authorized>


    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>


@code
{
    //SignalR
    private HubConnection hubConnection;
    public bool isLoading;

    [Parameter]
    public Card card { get; set; }
    [Parameter]
    public IEnumerable<Claim> claims { get; set; }

    public Member member;
    public ActionTrello[] comments;
    public Attachment[] attachments;
    public string venditoreField;

    public RadzenTextArea commentTextArea;
    public RadzenButton commentSaveButton;
    public bool commentSaveButtonDisabled;



    protected override async void OnInitialized()
    {
        isLoading = true;
        StateHasChanged();
        member = await trelloContext.GetMember(claims);

        commentSaveButtonDisabled = true;

        hubConnection = new HubConnectionBuilder().WithUrl(
            navManager.ToAbsoluteUri(AppEndPoints.MESSAGE_HUB)).Build();

        hubConnection.On<string, string>(MessagesHubReceive.UpdateView, async (listId, cardId) =>
        {
            if (cardId.Equals(card.id))
            {
                card = await trelloContext.GetCardFullData(claims, card);
                card = trelloContext.CardDataFormatChange(card);

                comments = await trelloContext.GetComments(claims, card.id);
                comments = trelloContext.CommentFormatChange(comments);

                attachments = await trelloContext.GetAttachments(claims, card.id);
                attachments = await trelloContext.AttachmentFormatChange(claims, attachments);
                StateHasChanged();
            }
        });

        await hubConnection.StartAsync();

        //Carica commenti della scheda
        comments = await trelloContext.GetComments(claims, card.id);

        venditoreField = trelloContext.GetVenditore(comments);

        comments = trelloContext.CommentFormatChange(comments);

        //Carica allegati
        attachments = await trelloContext.GetAttachments(claims, card.id);
        attachments = await trelloContext.AttachmentFormatChange(claims, attachments);

        isLoading = false;
        StateHasChanged();
    }




    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }




    private async void OpenLinkNewPage(string url)
    {
        //È risaputo che venga lanciata una exception, ma non si sa perché
        //fonte: https://stackoverflow.com/questions/62769031/how-can-i-open-a-new-window-without-using-js
        try
        {
            await jsRuntime.InvokeAsync<object>("open", url, "_blank");
        }
        catch (Exception)
        {
            //do nothing
        }
    }




    /*
    N.B. La creazione dei subThread che avvengono in questa funzione sono implementati esclusivamente
         per far visualizzare correttamente le notifiche tramite app.

         Nello specifico, la necessità è far visualizzare 2 notifiche in momenti diversi, ma esse
         vengono elaborate solo dopo che il thread è stato completato. Quindi utilizzo la funzione stessa
         come mainThread per visualizzare la prima notifica e in parallelo creo un subThread per la seconda notifica.
    */
#pragma warning disable BL0005
    private void FunctionTrigger(IEnumerable<Claim> claims, string caseName, RadzenSplitButtonItem item)
    {
        //N.B. Logica di default (null = true)
        try
        {
            switch (caseName)
            {
                case "Push":
                    {
                        if (item == null)
                        {
                            item = new RadzenSplitButtonItem();
                            item.Value = "Accetta";
                        }

                        if (item.Value.Equals("Accetta") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_ACCETTA)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                //Rimuovere le altre etichette della stessa categoria
                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_RISENTIRE)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PUSH_RISENTIRE);
                                    Thread.Sleep(1000);
                                }

                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_NON_ACCETTA)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PUSH_NON_ACCETTA);
                                    Thread.Sleep(1000);
                                }

                                trelloContext.AddLabel(claims, card.id, LabelBusiness.PUSH_ACCETTA);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        else if (item.Value.Equals("Risentire") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_RISENTIRE)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                //Rimuovere le altre etichette della stessa categoria
                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_ACCETTA)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PUSH_ACCETTA);
                                    Thread.Sleep(1000);
                                }

                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_NON_ACCETTA)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PUSH_NON_ACCETTA);
                                    Thread.Sleep(1000);
                                }

                                trelloContext.AddLabel(claims, card.id, LabelBusiness.PUSH_RISENTIRE);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        else if (item.Value.Equals("NonAccetta") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_NON_ACCETTA)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                //Rimuovere le altre etichette della stessa categoria
                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_ACCETTA)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PUSH_ACCETTA);
                                    Thread.Sleep(1000);
                                }

                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.PUSH_RISENTIRE)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PUSH_RISENTIRE);
                                    Thread.Sleep(1000);
                                }

                                trelloContext.AddLabel(claims, card.id, LabelBusiness.PUSH_NON_ACCETTA);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        break;
                    }
                case "Privacy":
                    {
                        if (item == null)
                        {
                            item = new RadzenSplitButtonItem();
                            item.Value = "Accetta";
                        }

                        if (item.Value.Equals("Accetta") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.PRIVACY_ACCETTA)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.PRIVACY_NON_ACCETTA)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PRIVACY_NON_ACCETTA);
                                    Thread.Sleep(1000);
                                }

                                trelloContext.AddLabel(claims, card.id, LabelBusiness.PRIVACY_ACCETTA);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        else if (item.Value.Equals("NonAccetta") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.PRIVACY_NON_ACCETTA)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.PRIVACY_ACCETTA)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PRIVACY_ACCETTA);
                                    Thread.Sleep(1000);
                                }

                                trelloContext.AddLabel(claims, card.id, LabelBusiness.PRIVACY_NON_ACCETTA);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        break;
                    }
                case "Squadra":
                    {
                        if (item == null)
                        {
                            item = new RadzenSplitButtonItem();
                            item.Value = "Squadra1";
                        }

                        if (item.Value.Equals("Squadra1") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.SQUADRA_1)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.SQUADRA_2)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.SQUADRA_2);
                                    Thread.Sleep(1000);
                                }

                                trelloContext.AddLabel(claims, card.id, LabelBusiness.SQUADRA_1);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        else if (item.Value.Equals("Squadra2") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.SQUADRA_2)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                if (card.labels.Exists(label => label.id.Equals(LabelBusiness.SQUADRA_1)))
                                {
                                    trelloContext.RemoveLabel(claims, card.id, LabelBusiness.SQUADRA_1);
                                    Thread.Sleep(1000);
                                }

                                trelloContext.AddLabel(claims, card.id, LabelBusiness.SQUADRA_2);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        break;
                    }
                case "Ospitante_BTS":
                    {
                        if (item == null)
                        {
                            item = new RadzenSplitButtonItem();
                            item.Value = "Aggiungi";
                        }

                        if (item.Value.Equals("Aggiungi") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.OSPITANTE_BTS)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                trelloContext.AddLabel(claims, card.id, LabelBusiness.OSPITANTE_BTS);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        else if (item.Value.Equals("Rimuovi") && card.labels.Exists(label => label.id.Equals(LabelBusiness.OSPITANTE_BTS)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                trelloContext.RemoveLabel(claims, card.id, LabelBusiness.OSPITANTE_BTS);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        break;
                    }
                case "Partner":
                    {
                        if (item == null)
                        {
                            item = new RadzenSplitButtonItem();
                            item.Value = "Aggiungi";
                        }

                        if (item.Value.Equals("Aggiungi") && !card.labels.Exists(label => label.id.Equals(LabelBusiness.PARTNER)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                trelloContext.AddLabel(claims, card.id, LabelBusiness.PARTNER);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                        else if (item.Value.Equals("Rimuovi") && card.labels.Exists(label => label.id.Equals(LabelBusiness.PARTNER)))
                        {
                            RadzenSupport.SendNotificationMessage(
                                notificationService,
                                NotificationSeverity.Info,
                                "Sincronizzazione in corso...",
                                "Attendi qualche istante per visualizzare correttamente le modifiche",
                                4000);

                            Thread subThread = new Thread(() =>
                            {
                                trelloContext.RemoveLabel(claims, card.id, LabelBusiness.PARTNER);
                                Thread.Sleep(2000);
                                card = trelloContext.GetCardFullData(claims, card).Result;
                                card = trelloContext.CardDataFormatChange(card);

                                //Notifica a tutti client delle modifiche
                                hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id).Wait();

                                InvokeAsync(StateHasChanged).Wait();
                                RadzenSupport.SendNotificationMessage(
                                    notificationService,
                                    NotificationSeverity.Success,
                                    "Sincronizzazione completata!",
                                    "La sincronizzazione è avvenuta correttamente");
                            });
                            subThread.Start();
                        }
                    }
                    break;
                default:
                    RadzenSupport.SendNotificationMessage(
                        notificationService,
                        NotificationSeverity.Error,
                        "Errore Interno",
                        "I servizi Trello non rispondono");
                    ILogger logger = Logger.Singleton();
                    logger.LogError("Non è stato trovato un case per il valore: " + caseName);
                    break;
            }
        }
        catch (Exception e)
        {
            RadzenSupport.SendNotificationMessage(
                notificationService,
                NotificationSeverity.Error,
                "Errore Interno",
                "I Servizi Trello non rispondono");
            ILogger logger = Logger.Singleton();
            logger.LogError("Stack Trace errore: " + e.StackTrace);
        }
    }
#pragma warning restore BL0005




    private void DialogOpenSetDue()
    {
        dialogService.OpenAsync<DialogSetDue>("Crea App. per: " + card.name,
            new Dictionary<string, object>() { { "card", card } },
            new DialogOptions()
            {
                ShowTitle = true,
                ShowClose = true,
                Style = "min-width: 400px; min-height: 125px; width: auto; height: auto;"
            });
    }




    public void CommentCheck(ChangeEventArgs e)
    {
        if (e.Value == null || ((string)e.Value).Trim() == "")
        {
            commentSaveButtonDisabled = true;
        }
        else
        {
            commentSaveButtonDisabled = false;
        }
    }




#pragma warning disable BL0005
    public async void PostComment()
    {
        try
        {
            trelloContext.AddComment(claims, card.id, commentTextArea.Value);
            //Notifica a tutti client delle modifiche
            await hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id);
            commentTextArea.Value = "";
            ChangeEventArgs e = new ChangeEventArgs();
            e.Value = "";
            CommentCheck(e);

            InvokeAsync(StateHasChanged).Wait();
            RadzenSupport.SendNotificationMessage(
                notificationService,
                NotificationSeverity.Success,
                "Commento inviato!",
                "La sincronizzazione è avvenuta correttamente");
        }
        catch (Exception e)
        {
            RadzenSupport.SendNotificationMessage(
                notificationService,
                NotificationSeverity.Error,
                "Errore Interno",
                "I Servizi Trello non rispondono");
            ILogger logger = Logger.Singleton();
            logger.LogError("Stack Trace errore: " + e.StackTrace);
        }
    }
#pragma warning disable BL0005

    public void DialogOpenUploadAttachment()
    {
        dialogService.OpenAsync<DialogUploadAttachment>("Agg. Allegato per: " + card.name,
            new Dictionary<string, object>() { { "card", card }, { "claims", claims } },
            new DialogOptions()
            {
                ShowTitle = true,
                ShowClose = true,
                Style = "min-width: 400px; min-height: 125px; width: auto; height: auto;"
            });
    }
}