﻿@page "/Cards_Per_List_ViewOLD"


@using Portale_Trello.Services.Trello
@using Portale_Trello.Models.Trello
@inject TrelloContext trelloContext
@inject HttpClient httpClient

<h1>Liste di Trello</h1>
<p>Questo permette la visualizzazione delle schede di una singola lista.</p>

<!-- Da migliorare usando qualche componente/classe bootstrap o radzen-->
<label for="list_select">Lista da visualizzare:</label>
<select name="list_select" id="list_select" value=@list_selected @onchange=@ListChange>
    <option value="Nuovi Contatti">Nuovi Contatti</option>
    <option value="Contatti">Contatti</option>
    <option value="1. Opportunità">1. Opportunità</option>
    <option value="2. Commesse">2. Commesse</option>
    <option value="3. Commesse Completate">3. Commesse Completate</option>
</select>



<!-- Come esempio, ma vecchio -->
@if (list_result == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <label for="list_select">Lista da visualizzare:</label>
    <select name="list_select" id="list_select" value=@list_selected @onchange=@ListChange>
        <option value="Nuovi Contatti">Nuovi Contatti</option>
        <option value="Contatti">Contatti</option>
        <option value="1. Opportunità">1. Opportunità</option>
        <option value="2. Commesse">2. Commesse</option>
        <option value="3. Commesse Completate">3. Commesse Completate</option>
    </select>


    <table name="list_table" id="list_table" class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Etichette</th>
                <th>Scadenza</th>
                <th>Descrizione</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list_result)
            {
                <tr>
                    <td><a href=@item.shortUrl>@item.name</a></td>
                    <td>
                        @foreach (var label in @item.labels)
                        {
                            <span class="badge mr-1" style="background-color:@label.color; color:white">@label.name</span>
                        }
                    </td>
                    <td>@item.due</td>
                    <td><p style="white-space: pre-line">@item.desc</p></td>
                </tr>
            }
        </tbody>
    </table>
}





@code
{
    public TrelloContext trelloContext = new TrelloContext();
    public string list_selected;
    private Card[] list_result;


    protected override async Task OnInitializedAsync()
    {
        ChangeEventArgs e = new ChangeEventArgs();
        e.Value = "Contatti";
        await ListChange(e);
    }




    protected async Task ListChange(ChangeEventArgs e)
    {
        list_result = null;
        list_selected = e.Value.ToString();

        switch (list_selected)
        {
            case "Nuovi Contatti":
                list_result = await trelloContext.GetCardsPerList(trelloContext.listNuoviContatti.id);
                break;

            case "Contatti":
                list_result = await trelloContext.GetCardsPerList(trelloContext.listContatti.id);
                break;

            case "1. Opportunità":
                list_result = await trelloContext.GetCardsPerList(trelloContext.listOpportunita.id);
                break;

            case "2. Commesse":
                list_result = await trelloContext.GetCardsPerList(trelloContext.listCommesse.id);
                break;

            case "3. Commesse Completate":
                list_result = await trelloContext.GetCardsPerList(trelloContext.listCommesseCompletate.id);
                break;
        }

        dataFormatChange();
    }




    protected void dataFormatChange()
    {
        foreach (var item in list_result)
        {
            #region Data
            DateTime data = new DateTime();
            DateTime.TryParse(item.due, out data);
            if (!data.ToString().Equals(@"01/01/0001 00:00:00"))
            {
                item.due = data.ToString();
            }
            else
            {
                item.due = "Non presente";
            }
            #endregion

            #region Descrizione
            item.desc = item.desc.Replace("Note aggiuntive...", "");
            item.desc = item.desc.Replace("\n---", "");
            item.desc = item.desc.Replace("N.B. *La sezione degli appuntamenti deve trovarsi in fondo alla descrizione.*", "");
            item.desc = item.desc.Trim();
            #endregion
        }
    }
}
