﻿@page "/CardTaskView/{card}"


@using Portale_Trello.Models.Trello
@using Portale_Trello.Component.Trello
@using Portale_Trello.Models.Trello.Actions
@using Portale_Trello.Models.Hubs
@using Microsoft.AspNetCore.SignalR.Client

@inject TrelloContext trelloContext
@inject NavigationManager navManager


<AuthorizeView>
    <Authorized>
        @if (isLoading)
        {
            <LoadingAnimation />
        }
        else
        {
            string claimModules = context.User.Claims.First(claim => claim.Type.Equals("module")).Value;
            string claimPrivileges = context.User.Claims.First(claim => claim.Type.Equals(ClaimsIdentity.DefaultRoleClaimType)).Value;

            <RadzenCard Style="margin-bottom: 20px;">
                <div name="Nome Icona Etichette" class="row">
                    <div class="col-md-12">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span>
                                    <RadzenIcon Icon="add_shopping_cart" Style="vertical-align:sub" /><b style="font-size:20px">Commessa</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <div class="row align-items-center justify-content-center">
                                    <div name="Icona e Nome Cognome" class="col-md-auto justify-content-center m-1">
                                        <RadzenImage Path=@iconPath Style="width:80px; border-radius: 5rem; border-style: solid; border-color: lavender; margin-right: 5px;" />
                                        <b>@card.name</b>
                                    </div>

                                    <div name="Etichette" class="col-md-8 text-align-center m-1">
                                        @if (card.labels.Count > 0)
                                        {
                                            @foreach (Label label in card.labels)
                                            {
                                                <LabelCard label="label" />
                                            }
                                        }
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenFieldset>
                    </div>
                </div>

                <div name="Altre Info" class="row mt-3">
                    <div class="col-md-12">
                        <RadzenFieldset AllowCollapse="true" Collapsed="true">
                            <HeaderTemplate>
                                <span>
                                    <RadzenIcon Icon="format_list_numbered" Style="vertical-align:sub" /><b style="font-size:20px">Altre Info</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <div class="row justify-content-center">
                                    <div name="Scadenza Venditore Note" class="col-md-4" style="min-width: 280px;">
                                        <RadzenFieldset Text="Appuntamento Programmato:">
                                            @if (card.due.Equals("Non presente"))
                                            {
                                                <p class="text-align-center" style="font-weight: bolder">@card.due</p>
                                            }
                                            else
                                            {
                                                bool isReadOnly = !claimPrivileges.Contains(UserPrivilegeLevels.ADMIN)
                                                && !claimPrivileges.Contains(UserPrivilegeLevels.COORDINATOR)
                                                && !claimModules.Contains(TrelloModuleAccess.BUTTON_CAMBIA_STATO_APPUNTAMENTO);
                                                <DueCard card="card" hubConnection="hubConnection" position="Right" isReadOnly="isReadOnly" />
                                            }
                                        </RadzenFieldset>

                                        <RadzenFieldset Text="Venditore:">
                                            <b>@venditoreField</b>
                                        </RadzenFieldset>

                                        <RadzenFieldset class="card-note" Text="Note:">
                                            <b>@card.desc</b>
                                        </RadzenFieldset>
                                    </div>

                                    <div name="Scadenza Storico" class="col-md-8">
                                        <RadzenFieldset Text="Appuntamenti Storico:" Style="max-height: auto;">
                                            <RadzenGrid Responsive="true" AllowFiltering="true" AllowColumnResize="false" FilterMode="FilterMode.Advanced" PageSize="4" AllowPaging="true" AllowSorting="true" Data="@card.appuntamenti" TItem="AppuntamentoBusiness" LogicalFilterOperator="LogicalFilterOperator.Or" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                                                <Columns>
                                                    <RadzenGridColumn TItem="AppuntamentoBusiness" Property="number" Filterable="true" Title="#" TextAlign="TextAlign.Center">
                                                        <Template Context="app">
                                                            @(app.number + 1)
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="AppuntamentoBusiness" Property="start" Filterable="true" Title="Fissato per il:" TextAlign="TextAlign.Center">
                                                        <Template Context="app">
                                                            @app.start
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="AppuntamentoBusiness" Property="creationDate" Filterable="true" Title="Creato il:" TextAlign="TextAlign.Center">
                                                        <Template Context="app">
                                                            @app.creationDate
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="AppuntamentoBusiness" Property="creationDate" Filterable="false" Sortable="false" Title="Stato:" TextAlign="TextAlign.Center">
                                                        <Template Context="app">
                                                            @{
                                                                string bgColor = "black";
                                                                switch (app.state)
                                                                {
                                                                    case "Ok":
                                                                        bgColor = "green";
                                                                        break;
                                                                    case "Sospeso":
                                                                        bgColor = "red";
                                                                        break;
                                                                    case "Annullato":
                                                                        bgColor = "red";
                                                                        break;
                                                                    case "Spostato":
                                                                        bgColor = "orange";
                                                                        break;
                                                                }
                                                            }
                                                            <div class="badge m-3 p-2 color-white font-smaller" style="background-color:@bgColor; width:100px;">
                                                                @app.state
                                                            </div>
                                                        </Template>
                                                    </RadzenGridColumn>
                                                </Columns>
                                            </RadzenGrid>
                                        </RadzenFieldset>
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenFieldset>
                    </div>
                </div>
            </RadzenCard>
        }
    </Authorized>

    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>

@code {
    //SignalR
    private HubConnection hubConnection;
    public bool isLoading;

    [Parameter]
    public Card card { get; set; }
    [Parameter]
    public IEnumerable<Claim> claims { get; set; }

    public string iconPath { get; set; }
    public ActionTrello[] comments;
    public string venditoreField;


    protected override async void OnInitialized()
    {
        hubConnection = new HubConnectionBuilder().WithUrl(
            navManager.ToAbsoluteUri(AppEndPoints.MESSAGE_HUB)).Build();

        hubConnection.On<string, string>(MessagesHubReceive.UpdateView, async (listId, cardId) =>
        {
            if (cardId.Equals(card.id))
            {
            //card = await trelloContext.GetCardFullData(claims, card);
            //card = trelloContext.CardDataFormatChange(card);

            //actions = await trelloContext.GetComments(claims, card.id);
            //actions = trelloContext.CommentFormatChange(actions);

            //attachments = await trelloContext.GetAttachments(claims, card.id);
            //attachments = await trelloContext.AttachmentFormatChange(claims, attachments);
            StateHasChanged();
            }
        });

        await hubConnection.StartAsync();

        this.iconPath = IconPathCalculate();

        this.comments = await trelloContext.GetComments(claims, card.id);
        this.venditoreField = trelloContext.GetVenditore(comments);
        StateHasChanged();
    }




    private string IconPathCalculate()
    {
        string path = "/css/img/";
        if (card.name.ToLower().Contains("sky"))
        {
            path += "sky_icon.jpg";
        }
        else if (card.name.ToLower().Contains("micso voip"))
        {
            path += "micso_voip_icon.jpg";
        }
        else if (card.name.ToLower().Contains("micso"))
        {
            path += "micso_icon.jpg";
        }
        else if (card.name.ToLower().Contains("qfiber"))
        {
            path += "micso_qfiber_icon.jpg";
        }
        else if (card.name.ToLower().Contains("wifiber"))
        {
            path += "micso_wifiber_icon.jpg";
        }
        else if (card.name.ToLower().Contains("isabell"))
        {
            path += "isabell_icon.jpg";
        }
        else if (card.name.ToLower().Contains("timenet"))
        {
            path += "timenet_icon.jpg";
        }
        else if (card.name.ToLower().Contains("Paser"))
        {
            path += "paser_icon.jpg";
        }
        else if (card.name.ToLower().Contains("egea"))
        {
            path += "egea_icon.jpg";
        }
        else if (card.name.ToLower().Contains("altro"))
        {
            path += "altro_icon.jpg";
        }
        else if (card.name.ToLower().Contains("rete"))
        {
            path += "rete_wireless_icon.jpg";
        }
        else if (card.name.ToLower().Contains("videosorveglianza"))
        {
            path += "videosorveglianza_icon.jpg";
        }
        else if (card.name.ToLower().Contains("antennistica"))
        {
            path += "antennistica_icon.jpg";
        }
        else if (card.name.ToLower().Contains("konnect"))
        {
            path += "konnect_icon.jpg";
        }
        else if (card.name.ToLower().Contains("alpsim"))
        {
            path += "alpsim_icon.jpg";
        }

        return path;
    }
}
