﻿@page "/UploadAttachment/"

@using Portale_Trello.Models.Trello
@using Portale_Trello.Models.Hubs
@using Microsoft.AspNetCore.SignalR.Client

@inject DialogService dialogService
@inject NotificationService notificationService
@inject TrelloContext trelloContext
@inject NavigationManager navManager


<AuthorizeView>
    <Authorized>

        <RadzenFieldset>
            <HeaderTemplate>
                <span>
                    <RadzenIcon Icon="attach_file" Style="vertical-align:sub" /><b style="font-size:20px">Allegato:</b>
                </span>
            </HeaderTemplate>
            <ChildContent>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-weight: bolder; margin-top: 5px;">Nome File:</p>
                        <RadzenTextBox @bind-Value="fileName" Placeholder="Nome File..." Style="width:100%;" />
                        @if (!fileNameCheck)
                        {
                            <p style="font-size: 0.75rem; color: #f9777f;">Errore dare un nome di almeno 2 caratteri!</p>
                        }
                        <p style="font-weight: bolder; margin-top: 15px;">Link Condiviso:</p>
                        <RadzenTextBox @bind-Value="url" Placeholder="Link Condiviso..." Style="width:100%;" />
                        @if (!urlCheck)
                        {
                            <p style="font-size: 0.75rem; color: #f9777f;">Errore inserire un link condiviso valido!</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-align-center">
                        <RadzenButton Click="@((args) => TrySetattachmentLink(context.User.Claims))" ButtonStyle="ButtonStyle.Success" Text="OK" Style="margin-bottom: 15px; margin-top: 15px; width: 150px" />
                        <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Light" Text="Annulla" Style="margin-bottom: 15px; margin-top: 15px; width: 150px" />
                    </div>
                </div>
            </ChildContent>
        </RadzenFieldset>

    </Authorized>

    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>

@code {
    //SignalR
    private HubConnection hubConnection;

    [Parameter]
    public Card card { get; set; }
    [Parameter]
    public IEnumerable<Claim> claims { get; set; }
    public string fileName;
    public string url;

    //True = OK
    public bool fileNameCheck;
    public bool urlCheck;

    protected async override void OnInitialized()
    {
        fileNameCheck = true;
        urlCheck = true;

        hubConnection = new HubConnectionBuilder().WithUrl(
            navManager.ToAbsoluteUri(AppEndPoints.MESSAGE_HUB)).Build();

        await hubConnection.StartAsync();
    }



    public async void TrySetattachmentLink(IEnumerable<Claim> claims)
    {

        //TRY INSERISCI RESULT RESPONSE
        fileNameCheck = true;
        urlCheck = true;

        if (fileName == null || fileName.Length <= 2)
        {
            fileNameCheck = false;
        }
        else if (url == null || url.Length <= 5)
        {
            urlCheck = false;
        }
        else
        {
            await trelloContext.AddAttachment(claims, card, fileName, url);

            //SignalR
            await hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id);

            RadzenSupport.SendNotificationMessage(
            notificationService,
            NotificationSeverity.Success,
            "Allegato Inviato!",
            "Sincronizzazione completata.");

            dialogService.Close();
        }
    }
}
