﻿@page "/SetBusinessDue/"

@using Portale_Trello.Models.Trello
@using Portale_Trello.Models.Hubs
@using Microsoft.AspNetCore.SignalR.Client
@using System.Threading

@inject DialogService dialogService
@inject NotificationService notificationService
@inject TrelloContext trelloContext
@inject NavigationManager navManager


<AuthorizeView>
    <Authorized>
        <RadzenFieldset AllowCollapse="false" Collapsed="false">
            <HeaderTemplate>
                <span>
                    <RadzenIcon Icon="alarm" Style="vertical-align:sub" /><b style="font-size:20px">Dati Personali</b>
                </span>
            </HeaderTemplate>
            <ChildContent>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-weight: bolder;">Data inizio:</p>
                        <RadzenDatePicker @ref="dateStart" Name="DateStart" Style="margin: 0px 15px 15px 15px;" TValue="DateTime?" ShowTime="true" ShowSeconds="false" HoursStep="1" MinutesStep="5" SecondsStep="10" DateFormat="dd/MM/yyyy HH:mm" />
                        @if (!dateStartCheck)
                        {
                            <p style="font-size: 0.75rem; color: #f9777f;">Errore la data è obbligatoria!</p>
                        }
                    </div>
                    <div class="col-md-6">
                        <p style="font-weight: bolder;">Data fine:</p>
                        <RadzenDatePicker @ref="dateEnd" Name="DateEnd" Style="margin: 0px 15px 15px 15px;" TValue="DateTime?" ShowTime="true" ShowSeconds="false" HoursStep="1" MinutesStep="5" SecondsStep="10" DateFormat="dd/MM/yyyy HH:mm" />
                        @if (!dateEndCheck)
                        {
                            <p style="font-size: 0.75rem; color: #f9777f;">Errore valore non valido!</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-align-center">
                        <RadzenTextArea @ref="commentTextArea" Placeholder="Breve descrizione..." Style="resize: both; min-width: 400px; min-height: 125px; margin: 15px" />
                        @if (!commentCheck)
                        {
                            <p style="font-size: 0.75rem; color: #f9777f;">Errore una breve descrizione è obbligatoria!</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-align-center">
                        <RadzenButton Click="@((args) => TrySetBusinessDue(context.User.Claims))" ButtonStyle="ButtonStyle.Success" Text="OK" Style="margin-bottom: 15px; margin-top: 15px; width: 150px" />
                        <RadzenButton Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Light" Text="Annulla" Style="margin-bottom: 15px; margin-top: 15px; width: 150px" />
                    </div>
                </div>
            </ChildContent>
        </RadzenFieldset>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>

@code
{
    [Parameter]
    public Card card { get; set; }

    //SignalR
    private HubConnection hubConnection;

    private RadzenDatePicker<DateTime?> dateStart;
    private RadzenDatePicker<DateTime?> dateEnd;
    private RadzenTextArea commentTextArea;
    //True = OK
    private bool dateStartCheck;
    private bool dateEndCheck;
    private bool commentCheck;


    protected override async void OnInitialized()
    {
        dateStartCheck = true;
        dateEndCheck = true;
        commentCheck = true;

        hubConnection = new HubConnectionBuilder().WithUrl(
            navManager.ToAbsoluteUri(AppEndPoints.MESSAGE_HUB)).Build();

        await hubConnection.StartAsync();
    }




    private async void TrySetBusinessDue(IEnumerable<Claim> claims)
    {
        dateStartCheck = true;
        dateEndCheck = true;
        commentCheck = true;

        if (card.dueComplete || card.due.Equals("Non presente"))
        {
            if (dateStart.Value != null && commentTextArea.Value != null)
            {
                //Attualmente lascio la possibilità di inserire date passate.
                DateTime _start = (DateTime)dateStart.Value;
                DateTime _end = dateEnd.Value == null ? new DateTime() : (DateTime)dateEnd.Value;
                if (_start.CompareTo(_end) > 0)
                {
                    bool dueCompleteOld = card.dueComplete;
                    string dueOld = card.due;
                    string startOld = card.start;
                    try
                    {
                        card.dueComplete = false;
                        trelloContext.SetDueComplete(claims, card);

                        //Tolgo per il fuso orario -6H (dovrebbe essere +2H, ma non so perché non è così)
                        card.due = _start.AddHours(-6).ToString("yyyy-MM-dd'T'HH:mm");
                        card.start = dateEnd.Value == null ? null : _end.AddHours(-6).ToString("yyyy-MM-dd'T'HH:mm");
                        trelloContext.SetDueDate(claims, card);
                        Thread.Sleep(500);
                        //N.B. Si basa anche sulle interazioni impostate come regole su Trello
                        string comment = "%23%23APP " + commentTextArea.Value;//# = %23 UrlEncoded
                        trelloContext.AddComment(claims, card.id, comment);
                        Thread.Sleep(500);

                        //SignalR
                        await hubConnection.SendAsync(MessagesHubSend.NotificationChangesToAll, card.idList, card.id);

                        RadzenSupport.SendNotificationMessage(
                            notificationService,
                            NotificationSeverity.Success,
                            "Nuovo Appuntamento Creato!",
                            "Creato appuntamento per " + card.name + " il giorno: " + _start.ToString("dd/MM/yyyy HH:mm"));

                        dialogService.Close(true);
                    }
                    catch (Exception e)
                    {
                        //Annullo la modifica in caso di errore
                        card.dueComplete = dueCompleteOld;
                        card.due = dueOld;
                        card.start = startOld;

                        RadzenSupport.SendNotificationMessage(
                            notificationService,
                            NotificationSeverity.Error,
                            "Errore Interno",
                            "I servizi Trello non rispondono");
                        ILogger logger = Logger.Singleton();
                        logger.LogError("Stack Trace errore: " + e.StackTrace);
                    }
                }
                else
                {
                    dateEndCheck = false;
                }
            }
            else if (dateStart.Value == null)
            {
                dateStartCheck = false;
            }
            else
            {
                commentCheck = false;
            }
        }
        else
        {
            RadzenSupport.SendNotificationMessage(
            notificationService,
            NotificationSeverity.Error,
            "Impossibile Aggiungere Nuovo Appuntamento",
            "L'appuntamento attuale non è completo!");
        }
    }
}