﻿@page "/All_List_View"

@using Portale_Trello.Models.Trello
@inject TrelloContext trelloContext
@inject NavigationManager navManager
@inject NotificationService notificationService


<h1>Liste di Trello</h1>
<p>Questo componente dimostra il caricamento di dati da un servizio.</p>

<AuthorizeView>
    <Authorized>
        @if (isLoading)
        {
            <LoadingAnimation />
        }
        else if (!isInit)
        {
            TrelloSyncDataAsync(context.User.Claims);
        }
        else
        {
            <RadzenGrid Responsive="true" AllowFiltering="true" AllowColumnResize="false" FilterMode="FilterMode.Simple" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@listsToShow" TItem="List" LogicalFilterOperator="LogicalFilterOperator.Or" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                <Columns>
                    <RadzenGridColumn TItem="List" Property="description" Filterable="false" Sortable="false" Title="#" TextAlign="TextAlign.Center" Width="80px;">
                        <Template Context="list">
                            @listsToShow.IndexOf(list)
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="List" Property="name" Filterable="true" Title="Nome" TextAlign="TextAlign.Center">
                        <Template Context="list">
                            @{ 
                                string ButtonType = "btn-outline-blue";
                                if (list.name.ToLower().Contains("contatt"))
                                {
                                    ButtonType = "btn-outline-blue";
                                }
                                else if (list.name.ToLower().Contains("commess"))
                                {
                                    ButtonType = "btn-outline-purple";
                                }
                                else if (list.name.ToLower().Contains("opportunità"))
                                {
                                    ButtonType = "btn-outline-orange";
                                }
                            }
                            <div name="Spessore Riga Tabella" style="margin: 20px  0px 20px 0px;">
                                <button class="btn @ButtonType" style="width: 100%;" type="button" @onclick="() => RedirectToViewList(list.id)">@list.name</button>
                            </div>
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="List" Property="description" Filterable="false" Sortable="false" Title="Descrizione" TextAlign="TextAlign.Left">

                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>



@code
{
    public bool isInit;
    public bool isLoading;
    public List<List> listsToShow;
    private IEnumerable<Claim> claims;


    private async void TrelloSyncDataAsync(IEnumerable<Claim> claims)
    {
        try
        {
            isInit = true;
            isLoading = true;
            StateHasChanged();
            this.claims = claims;
            listsToShow = await trelloContext.GetLists(claims);
            listsToShow.RemoveAll(list => !list.isTypeBusiness);
            listsToShow = trelloContext.ListAddDescription(listsToShow);
            isLoading = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            Logger logger = Logger.Singleton();
            logger.LogError("Una chiamata ai servizi Trello non è andata a buon fine. Stack Trace: " + e.StackTrace);
            RadzenSupport.SendNotificationMessage(notificationService, NotificationSeverity.Error, "Errore Interno", "I servizi Trello non rispondono");
            navManager.NavigateTo("/");
        }
    }




    private void RedirectToViewList(string listId)
    {
        navManager.NavigateTo("/Cards_Per_List_View/" + listId);
    }
}
